*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(30, 30, 30);
    
}
.container{
    margin: 0 auto;
    max-width: 1200px;
    width: 95%;
    margin-top: 8rem;
}

.time{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: 2.5rem;
    color: #FFF;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

.btn{
    margin: 0 1rem;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 8%;
    border: none;
    font-family: monospace;
    color: black;
    background-color: rgb(45, 255, 255);
    cursor: pointer;
    
}

.btn:hover{
    background-color: rgb(179, 179, 179);
    color: #FFF;
    transition: all 0.3s ease;
}

@media (max-width:600px){
    .btn{
        padding: 0.7rem;
    }
    .time{
        font-size: 2.2rem;
    }
}

@media (max-width:480px){
    .btns{
        flex-direction: column;
    }
    .btn{
        margin-top: 1.2rem;
        padding: 0.5rem;
    }
    .time{
        font-size: 1.8rem;
    }
}